.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
 z-index: 1;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 2em;
}

.nav a {
    text-decoration: none;
    color: black;
    margin-left: 2em;
    line-height: 2em; /* Увеличение межстрочного интервала */
}

.nav a:hover {
    color: steelblue;
    text-decoration: none;
}

.nav a:active {
    color: cadetblue;
    text-decoration: underline;
}

.close {
    display: flex;
    justify-content: right;
    padding: 0;
    margin-right: 1em;
    margin-top: 1em;
}

.close img {

}
