.item {
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
    display: flex;
    gap: 2%;
    justify-content: end;
}
.buttonsContainer button {
    margin: 0;
    width: 123px;
    height: 30px;

}
.container {

}

.thead {
}

.nameCol {
}

.ageCol {
}