.spanBlock {
    height: 50px;
    padding-top: 10px;
    cursor: pointer;
    margin-left: 10px;
    align-self: flex-start; /* Прижать этот элемент к левому краю по вертикали */
}

.spanClassName {
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
    align-self: flex-start; /* Прижать этот элемент к левому краю по вертикали */
}

.input {

}

.pen {
}