.App {
   --header_height: 60px;
 width: 1280px;
    padding: 0 3%;
}

.hw {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: var(--background);
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;

}

.hwTitle {
    color: #000;
    font-family: Montserrat, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hw10{
     display: block;
     height: 70px;
     padding-top: 1.5% ;

}