.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    color:red;
}

.input {
}

.input:focus {
}

.errorInput {
    border: 2px solid red;
    background-color: salmon;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
