.select {
    width: 165px;
    height: 24px;
    align-self: start;
    border: 1px solid lightslategray;
    border-radius: 2px;
    font-size: 14px;
    position: relative;
}

.select:focus {
}

.option {

}
.option:hover {
}
