.pagination {
    display: flex;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2em;
}
.pagination > * {
    margin: 0;
}
.pagination nav ul li {
margin: 1px;
    padding-bottom: 5px;
width: 26px;

}
.pagination nav ul li button[aria-current="true"] {
    background-color: #1976d2;
    color: white;
    border-radius: 0;
}
.pagination select {
    width: 50px;
   margin-top: 8px;
}
.text1 {

    padding-top: 6px;
}

.text2 {

    padding-top: 6px;
}
